---
import { menuLinks, siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-row items-center justify-center gap-x-4 pt-20 pb-4 text-center font-semibold text-gray-600 sm:justify-between sm:text-xs dark:text-gray-400"
>
	<div class="flex items-center gap-x-2">
		&copy; <a href="mailto:kasturiveemohan@gmail.com" class="hover:text-global-text underline">{siteConfig.author}</a>
		{year}.<span class="inline-flex items-center">&nbsp;🌻&nbsp;{siteConfig.title}</span>
	</div>
	<nav
		aria-labelledby="footer_links"
		class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500"
	>
		<p id="footer_links" class="sr-only">More on this site</p>
		{
			menuLinks.map((link) => (
				<a class="hover:text-global-text px-4 py-2 hover:underline sm:py-0" href={link.path}>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>